@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
}

.nav {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #003875;
  color: white;
  overflow: hidden;
  transition: 0.5s;
}

.nav.active {
  width: 60px;
}

.nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.nav ul li:hover {
  background: #0257b2;
}

.nav ul li:nth-child(1):hover {
  background: transparent;
}

.nav ul li:nth-child(1) {
  margin-bottom: 20px;
}

.nav ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
}

.nav ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.nav ul li a .icon .fa {
  color: white;
  font-size: 24px;
}

.nav ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 60px);
  left: 60px;
}

.main .top-section {
  width: 100%;
  background: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.toggle::before {
  content: "\f0c9";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: black;
}

.searchbar {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.searchbar label {
  position: relative;
  width: 100%;
}

.searchbar label input {
  width: 100%;
  border-radius: 40px;
  height: 40px;
  padding: 5px 10px;
  padding-left: 35px;
  outline: none;
  border: 2px solid #003875;
}

.searchbar label .fas {
  position: absolute;
  left: 15px;
  top: 4px;
}

.user-img {
  position: relative;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-box {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card-box .card {
  position: relative;
  background: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.card-box .card .numbers {
  position: relative;
  font-size: 2em;
  font-weight: 500;
}

.card-box .card .cardName {
  color: #979797;
}

.card-box .card .icon-box {
  font-size: 2.5em;
}

.card-box .card .icon-box .fas {
  color: #0257b2;
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
}

.details .recent-orders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: white;
  padding: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-header h2 {
  font-weight: 600;
}

.btn {
  position: relative;
  padding: 10px 15px;
  background: #0257b2;
  text-decoration: none;
  color: white;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details .recent-orders table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recent-orders table tr:last-child {
  border-bottom: none;
}

.details .recent-orders table tbody tr:hover {
  background: #ebebeb;
  color: black;
}

.details .recent-orders table tr td {
  padding: 5px 10px;
}

.details .recent-orders table thead tr td:last-child,
.details .recent-orders table tbody tr td:last-child {
  text-align: right;
}

.details .recent-orders table thead tr td:nth-child(2),
.details .recent-orders table tbody tr td:nth-child(2) {
  text-align: center;
}

.details .recent-orders table thead tr td:nth-child(3),
.details .recent-orders table tbody tr td:nth-child(3) {
  text-align: center;
}

.details .recent-customers {
  position: relative;
  min-height: 530px;
  background: white;
  padding: 20px;
}

.details .recent-customers .img-Box {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.details .recent-customers .img-Box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details .recent-customers table tr:hover {
  background: #ebebeb;
  color: black;
}

.details .recent-customers table tr td {
  padding: 10px 10px;
  margin-bottom: 20px;
}
